<h2>
  Heroes
  <small> Marvel & DC</small>
</h2>
<hr>

<div class="card-columns">
  <div class="card">
    <img class="card-img-top img-fluid" src="assets/aquaman.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>

      <button type="button" class="btn btn-outline-primary btn-block"> See more... </button>
    </div>
  </div>
</div>

