<h2>
  Heroes
  <small> Marvel & DC</small>
</h2>
<hr>

<div class="card-columns">
  <div class="card animated fadeIn" *ngFor="let hero of _heroes; let i = index">
    <img class="card-img-top img-fluid" src="{{hero.img}}" alt="{{ hero.name }}">
    <div class="card-block">
      <h4 class="card-title"> {{ hero.name }}</h4>
      <p class="card-text"> {{ hero.bio }}</p>
      <p class="card-text">
        <small class="text-muted">
          Appear in: {{ hero.appear }}
        </small>
      </p>

      <button type="button" class="btn btn-outline-primary btn-block ha-btn" (click)="seeHeroProfile(i)"> See more... </button>
      <!--<a [routerLink]="['/hero', i]" class="btn btn-outline-primary btn-block"> See more... </a>-->
    </div>
  </div>
</div>

