<div class="row">
  <div class="col-md-3">
    <div class="ha-hero-image-container">
      <img class="ha-hero-image" src="{{hero.img}}" alt="{{hero.name}}">
    </div>
  </div>
  <div class="col-md-9">
    <h2 class="ha-hero-profile-title text-center text-md-left my-3">
      {{hero.name | uppercase }}
    </h2>
    <p>
      {{hero.bio}}
    </p>
    <p>
      {{hero.name}} appeared in {{hero.appear | date: 'y'}}
    </p>
    <div class="ha-hero-company-container">
      <img class="ha-hero-company-image" src="assets/{{hero.house | lowercase}}.jpg" />
    </div>
  </div>
</div>
